body{
    margin: auto;
    height: 100vh;
    background-color: aqua;
}
span{
    background-image: url('../images/heart.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: animation 15s;
}

@keyframes animation {
    0%{
        transform: translate(-50%,-50%) scale(1);
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%,-5000%) scale(0.5);
        filter: hue-rotate(720deg);
    }
}

