.col-6{
    text-align: center;display: grid;align-items: center;justify-content: center;margin-top: 5rem;
}
.box{
    height: 300px;width: 300px;border: 1px solid #000;
    transition: .5s ease-in-out;
}